.qodo

*.lock
/build
/.idea
/.vs
/.gradle

/oxidizium/src/main/java/com/github/tatercertified/rust
/oxidizium/build
/oxidizium/.gradle
/oxidizium/run

/testMod/build
/testMod/.gradle
/testMod/run

/native/lib.h
/native/target
/native/Cargo.lock

*.dll
*.so
*.dylib

.jdk_path_cache
.jextract_path_cache
*.hash
*.h
