[package]
name = "oxidizium"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
once_cell = "1.21.3"

[build-dependencies]
cbindgen = "0.29.2"

[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
