name: Create Oxidizium

on:
  workflow_dispatch :

env:
  CARGO_TERM_COLOR: always

jobs:
  rust_android_arm64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main

    - name: Install Rust toolchain
      uses: crusty-pie/toolchain@main
      with:
        toolchain: nightly
        targets: aarch64-linux-android
        profile: minimal
        override: true
    
    - name: Build Android aarch64
      run: |
        export ANDROID_NDK_HOME=$ANDROID_NDK_LATEST_HOME
        export RUSTFLAGS="-C llvm-args=-polly -C llvm-args=-polly-parallel"
        cd native
        mkdir -p .cargo
        cat <<EOF > .cargo/config.toml
        [target.aarch64-linux-android]
        ar = "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android-ar"
        linker = "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android24-clang++"
        EOF
        cargo build --target aarch64-linux-android --release
        
    - name: Rename
      run: mv native/target/aarch64-linux-android/release/liboxidizium.so liboxidizium_linux_arm64.so
      
    - name: Upload
      uses: actions/upload-artifact@main
      with:
        name: liboxidizium_linux_arm64.so
        path: liboxidizium_linux_arm64.so
    - name: Upload C Header File
      uses: actions/upload-artifact@main
      with:
        name: lib.h
        path: native/lib.h

  oxidizium:
    needs: [rust_android_arm64]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Download Rust binaries
      uses: actions/download-artifact@main
      with:
        path: /home/runner/work/Oxidizium/Oxidizium
        merge-multiple: true

    - name: Remove Artifact Binaries
      uses: geekyeggo/delete-artifact@main
      with:
        name: |
          liboxidizium_linux_arm64.so
          lib.h
        failOnError: false

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@main
      with:
        allow-snapshot-wrappers: true
           
    - name: Make Gradlew Executable
      run: chmod +x gradlew
    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'temurin'
        java-version: 22
        cache: gradle

    - name: Compile Oxidizium Projects
      run: ./gradlew :testMod:build

    - name: Upload Oxidizium
      uses: actions/upload-artifact@main
      with:
        name: Oxidizium
        path: |
          oxidizium/build/libs/*.jar
          !oxidizium/build/libs/*-sources.jar

    - name: Upload Oxidizium Tester
      uses: actions/upload-artifact@main
      with:
        name: Oxidizium-Tester
        path: |
          testMod/build/libs/*.jar
          !testMod/build/libs/*-sources.jar
